@model ListOrdersViewModel
@{
    ViewBag.Title ??= "Zamówienia";

    string statusOfListedOrders = (Model == null) ? "All" : Model.StatusOfListedOrders.ToString();
}

<h2 class="pt-3 mb-3">@ViewBag.Title</h2>
<a asp-controller="Orders" asp-action="Add"
   class="btn btn-outline-primary mb-4">Dodaj nowe zamówienie</a>

<div class="table-responsive overflow-visible ml-2">
    <table class="table table-striped table-hover table-bordered table-sm w-100" id="ordersTable"
           data-request-url="@Url.Action("LoadTableData", "Orders")"
           data-details-url="@Url.Action("Details", "Orders")"
           data-edit-url="@Url.Action("Edit", "Orders")"
           data-orders-status="@statusOfListedOrders">
        <thead>
            <tr>
                <th>Data</th>
                <th>Przedmioty</th>
                <th>Kupujący</th>
                <th>Status</th>
                <th>Łącznie do zapłaty</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteLabel">Usuń zamówienie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Czy na pewno chcesz usunąć zamówienie kupującego <b class="title"></b>?</p>
            </div>
            <div class="modal-footer">
                <form class="form-inline" method="post" asp-controller="Orders" asp-action="Delete">
                    <input type="hidden" name="id" id="recordId">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Nie</button>
                    <button type="submit" class="btn btn-primary">Tak</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/orders.js"></script>
    <script src="~/js/confirmDeleteModal.js"></script>
}