@model IEnumerable<Product>
@{
    ViewBag.Title = "Produkty";
}

<h2 class="pt-3 mb-3">@ViewBag.Title</h2>
<a asp-controller="Administration" asp-action="CreateProduct"
   class="btn btn-outline-primary mb-2">Dodaj nowy produkt</a>

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-hover" id="productsTable">
            <thead>
                <tr>
                    <th class="col-2 col-md-3 col-lg-4">Nazwa</th>
                    <th class="col-2 col-md-2 col-lg-3">Kategoria</th>
                    <th class="col-2 col-md-2 col-lg-2">Cena</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @product.Name
                        </td>
                        <td class="align-middle">
                            @product.Category?.Name
                        </td>
                        <td class="align-middle">
                            @product.Price @product.Currency
                        </td>
                        <td>
                            <a asp-controller="Administration" asp-action="EditProduct" asp-route-id="@product.Id"
                               class="btn btn-outline-primary mr-1">
                                Edytuj
                            </a>
                            <button type="button" class="btn btn-outline-primary"
                                    data-record-id="@product.Id" data-record-title="@product.Name"
                                    data-toggle="modal" data-target="#confirmDelete">
                                Usuń
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="pt-2">Baza nie zawiera żadnych produktów</p>
}

<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteLabel">Usuń produkt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Czy na pewno chcesz usunąć produkt <b class="title"></b>?</p>
            </div>
            <div class="modal-footer">
                <form class="form-inline" method="post" asp-controller="Administration" asp-action="DeleteProduct">
                    <input type="hidden" name="id" id="recordId">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Nie</button>
                    <button type="submit" class="btn btn-primary">Tak</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/confirmDeleteModal.js"></script>
}